name: Wdio-MobileApp-Emulator

on:
  workflow_dispatch:
    
env:
  ANDROID_ARCH: x86_64
  ANDROID_TARGET: google_apis
  API_LEVEL: 33
  ANDROID_BUILD_TOOLS_VERSION: 33.0.2
  ANDROID_SDK_PACKAGES: system-images;android-33;google_apis;x86_64 platforms;android-30 build-tools;33.0.2 platform-tools emulator
  EMULATOR_TIMEOUT: 350
  EMULATOR_NAME: nexus

jobs:
  webriverIo-emulator:
    timeout-minutes: 20
    
    runs-on: macos-latest
    
    steps:
      - uses: actions/checkout@v3
        
      - name: Add avdmanager and sdkmanager to system PATH
        run: |
            echo "$ANDROID_HOME/cmdline-tools/latest/bin:$ANDROID_HOME/emulator:$ANDROID_HOME/tools:$ANDROID_HOME/platform-tools:$ANDROID_HOME/build-tools/${{ env.ANDROID_BUILD_TOOLS_VERSION }}" >> $GITHUB_PATH
      
      - name: Install Sdk
        run: |
           yes Y | sdkmanager --licenses
           sdkmanager --install ${ANDROID_SDK_PACKAGES}
  
      - name: Build emulator
        run: |
            echo "no" | avdmanager --verbose create avd --force -n $EMULATOR_NAME --abi "${ANDROID_TARGET}/${ANDROID_ARCH}" -k "system-images;android-${API_LEVEL};${ANDROID_TARGET};${ANDROID_ARCH}"
        
      - name: Launch emulator
        run: |
          chmod +x ./start_emu_headless.sh
          EMULATOR_TIMEOUT=$EMULATOR_TIMEOUT EMULATOR_NAME=$EMULATOR_NAME ./start_emu_headless.sh
          
#      - name: Download test app     
#       run: curl -o evernote.apk -C - -L https://dw86.uptodown.com/dwn/vM5iak04_DZcM3Er5WDsk62jTyNtzpdChgrswR8qTnkmFp8eLBr2DjdiWU8nvCjcr_PCg_HUaFwB7rs452GZ5Q49E9Vl3-WQSNqCT0TupifBDDU3weoTu8ln3IEKfQcJ/TF3erI0xGHusrzBveNUsvXGi7Ga49VTViafD5TmW7yrnx3nmSjrqxOROOk_FaB5JqHigO0D73fHqUGVd3LqFt-ENMMYjFcVVoXsHoDWclfzCUbMCkGeTbY-SLOOM1_xY/2aQ4tCx91xTkpSo2_EQK5F0vBq5nOftJobkBpPwVN9wQqhUk_FU8hP6vm1E1bc5-ggzELFlQ0XBXuyO_KLclWQ==/evernote-10-49.apk
      
      - name: Install appium
        run: |
          npm i -g appium@next --unsafe-perm=true --allow-root
          appium driver install uiautomator2 
      
      - name: Install dependencies
        run: | 
          npm i
          
      - name: Execute the test
        run: | 
          npm run mobile
        
      - name: Generate report
        uses: afiore/action-allure-report@v0.1.0
        with:
          results-dir: ./report/allure-results
             
      - uses: actions/upload-artifact@v3
        if: always()
        with:
         name: wdio-report
         path: report/allure-results/
         retention-days: 3    
